/* style.css: Stylesheet.
 * SPDX-License-Identifier: MIT */

:root {
  /* Daytime colour gradients. */
  --day-grad-1: hsl(38, 100%, 81%);
  --day-grad-2: hsl(42, 89%, 93%);

  /* Nighttime colour gradients. */
  --nite-grad-1: hsl(64, 59%, 11%);
  --nite-grad-2: hsl(212, 43%, 40%);
 }

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  /* Fall back on a default if the custom cursor doesn't load. */
  cursor: url('/assets/images/spacepointer.svg'), auto;
}

/* Background for daytime. */
.sun-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--day-grad-1), var(--day-grad-2));
  opacity: 1;
}

/* Background for nighttime. */
.moon-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(313deg, var(--nite-grad-1) 33%, var(--nite-grad-2) 111%);
  opacity: 0;
}

canvas {
  position: fixed;
  margin: 0;
}
